.calc-display{
    
    border: 1px solid #eaeaea;
    color: #303030;
    grid-area: a;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #DADADA;
}

.calc-container{
    display: grid;
    grid-template-areas: "a a a a a a a a a a a a"
                         "d d d d d d d d d d d d"
                         "b b b b b b b b c c c c"
                         "b b b b b b b b c c c c"
                         "b b b b b b b b c c c c" 
}

.number-panel{
    grid-area: b;
    border:1px solid #eaeaea;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.number-button{
    width: 30px;
    height: 30px;
    padding: 1em;
    font-size: 1em;
    background-color: aliceblue;
    border: 1px solid #0094ff;
    cursor: pointer;
}

.operation-panel{
    grid-area: c;
    border: 1px solid #eaeaea
}

.memory-button-panel{
    display: flex;
    justify-content: center;
    grid-area:d;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

